<!DOCTYPE html>
<html>
  <head>
    <title>RedTech Tools</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>RedTech Tools</h1>
    <a href="/auth/login">Login</a> | <a href="/auth/register">Registrar</a>
    <form action="/search" method="get">
      <input type="text" name="query" placeholder="Buscar produtos" />
      <button type="submit">Buscar</button>
    </form>
    <% if (products.length > 0) { %> <% products.forEach(product => { %>
    <h2><a href="/products/<%= product.id %>"><%= product.name %></a></h2>
    <p><%= product.description %></p>
    <p>Preço: $<%= product.price %></p>
    <form action="/orders" method="post">
      <input type="hidden" name="productId" value="<%= product.id %>" />
      <button type="submit">Adicionar ao Carrinho</button>
    </form>
    <% }) %> <% } else { %>
    <p>Nenhum produto encontrado.</p>
    <% } %>
  </body>
</html>
