<!DOCTYPE html>
<html>
  <head>
    <title>Order #<%= order.id %> - RedTech Tools</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Order #<%= order.id %></h1>
    <p>User: <%= order.username %></p>
    <p>Product ID: <%= order.productId %></p>
    <p>Date: <%= order.date %></p>
  </body>
</html>
